<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%- include('partials/_folder-path', { folderPath }) %></h1>
    <a href="/files/new?folderId=<%= folderId %>">Upload file</a>
    <a href="/folders/new?folderId=<%= folderId %>">New folder</a>
    <form action="/folders/<%= folderId %>/delete" method="POST">
      <button>Delete Folder</button>
    </form>
    <a href="/log-out">Log Out</a>
    <div class="root-contents">
      <section class="folders">
        <h2>Folders</h2>
        <%- include('partials/_folder-list', { folders }) %>
      </section>
      <section class="files">
        <h2>Files</h2>
        <%- include('partials/_file-list', { files }) %>
      </section>
    </div>
  </body>
</html>
